.board {
	display: block;
	line-height: 16px;
	border: none;
	$border: #b2bec3;
	ul {
		display: block;
	}
	li {
		display: flex;
		border: none;
		&:last-child .cell {
			border-bottom: 1px solid $border;
		}
	}
	.cell {
		display: block;
		border-top: 1px solid $border;
		border-left: 1px solid $border;
		width: 10px;
		height: 10px;
		background-color: lighten(#dfe6e9, 5%);
		&:last-child {
			border-right: 1px solid $border;
		}
		&:hover {
			background-color: #b2bec3;
			cursor: pointer;
		}
	}

	[data-is-colored='true'] {
		background-color: #2d3436;
		&:hover {
			background-color: #2d3436;
		}
	}

	[data-has-ant='true'] {
		border: 1px solid red;
	}
}
