@import 'reset';
@import '~normalize-scss/sass/_normalize.scss';

body {
	background-color: transparent;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Roboto', serif;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Lato', serif;
}

* {
	box-sizing: border-box;
}

#main {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}